<div id="navbar">
  <div id="location" class="nav-item" *ngIf="currentCity">
    <span class="city" *ngIf="currentCity?.name">{{ currentCity.name }} </span>
    <span *ngIf="currentCity?.state">, {{ currentCity.state }}</span>
    <span class="country" *ngIf="currentCity?.sys.country">{{
      currentCity.sys.country
    }}</span>
  </div>
  <div id="search" class="nav-item" (click)="toggleSearchOpen()">
    <span>&#9906;</span>
  </div>
  <div class="menu-button nav-item" (click)="handleOpen()">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  <div *ngIf="searchOpen" id="searchContainer">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="75,0 100,100 0,100" />
    </svg>
    <div id="searchInputContainer">
      <input
        jamieInput
        name="search"
        #searchInput
        placeholder="Seattle, Copenhagen..."
      />
      <button (click)="handleSearch(searchInput.value)" type="submit">
        Go
      </button>
    </div>
  </div>
</div>
