#main-weather {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;

  display: flex;
  flex-direction: column;

  .temperature {
    flex-grow: 2.7;
  }

  .forecast-container {
    flex-grow: 1.3;
    background: white;
  }
}
