#main-weather {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;

  display: flex;
  flex-direction: column;
}

.temperature {
  // flex-grow: 2.7;
  height: 65%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 135px;
    color: white;
    font-weight: bold;
  }
}

.forecast-container {
  flex-grow: 1;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    li {
      width: 15%;
      height: 80px;
      border-radius: 30px;
      border: 1px solid blue;
      &.active {
        height: 100px;
        width: 20%;
      }
    }
  }
}
