#app {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: #24d3f6;
}

#pusher {
  position: relative;
  left: 0;
  height: 100%;
  z-index: 99;
  transition: transform 0.5s;
  &.isOpen {
    transform: translate3d(-50%, 0, 0);
  }
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  transform: translate3d(100%, 0, 0);
  background: white;
  z-index: 100;
  visibility: hidden;
  transition: 0.5s;
  &.isOpen {
    visibility: visible;
  }
}

#main-weather {
  border: 2px solid black;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
