@import "../variables";

#app {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: $electric-blue;
}

#pusher {
  position: relative;
  left: 0;
  height: 100%;
  z-index: 99;
  transition: transform 0.5s;
  &.isOpen {
    transform: translate3d(-50%, 0, 0);
  }
}
