@import "../../../variables";

nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  transform: translate3d(100%, 0, 0);
  background: $electric-blue-light;
  z-index: 100;
  visibility: hidden;
  transition: 0.4s;
  &.isOpen {
    visibility: visible;
  }
}
